{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 30vh;">
<form method="post" class="border shadow p-3 rounded" style="width:450px;margin-top:10px;">
     {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
     
       <span class="form-error-message" style="font-weight: bold;color:red;"><center>{{ invalidlogin | default('') }}</center></span>
    
    <ul>
    {% for field, errorMessage in errors | default('')%}
       {# <li>{{ errorMessage }}</li><br> #}
       <span class="invalid-feedback d-block">
       <span class="d-block">
       <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
       <span class="form-error-message">{{ field }}:{{ errorMessage }}</span>
       </span>
       </span>
    {% endfor %}
    </ul>
    
 

   <center><img src="{{ asset('images/loginlogo.png') }}"  style="height:76px;" /></center><br>
    <label for="inputEmployeename"><b>Email ID</b></label>
    <input type="text" value="{{ last_username }}" name="username" id="inputEmployeename" class="form-control" style="width:400px;" autocomplete="username" maxlength="30" autofocus>
    <br>
    
    <label for="inputPassword"><b>Password</b></label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" minlength="7" maxlength="12" style="width:400px;">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    
<br>
    <center><button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button></center>
</form>
</div>
{% endblock %}
