{% extends 'base.html.twig' %} 
{% form_theme snackinfo 'bootstrap_4_layout.html.twig' %}

{% block title %}Add Snack{% endblock %}

{% block stylesheets %}
<style>
.myformfield {
   width: 400px;
}

.flash-notice { color: red } 
</style>
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:20vh;margin-top:50px;">

   
    {{ form_start(snackinfo,{'attr':{'class':'border shadow p-3 rounded'}}) }}
    <center><p style="font-weight:bold;color:green">Add Snack</p></center>
    {% if errors %}
        <div class="alert alert-danger">{{ errors }}</div>
    {% endif %}
    {% for message in app.flashes('newsnacksuccess') | default('') %}
             <div class="alert alert-danger">{{ message }}</div>  
    {% endfor %}
    {{ form_widget(snackinfo) }}
    <center><button class="btn btn-success">{{ button_label|default('Add') }}</button></center>
    <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(snackinfo) }}
    
    <ul>
    {% for field, errorMessage in errors | default('')%}
        <li>{{ field }}: {{ errorMessage }}</li>
    {% endfor %}
    </ul>
</div>    
    
{% endblock %}


