{% extends 'base.html.twig' %} 
{% form_theme assignmentinfo 'bootstrap_4_layout.html.twig' %}

{% block title %}Snack Assignment{% endblock %}

{% block stylesheets %}
<style>
.myformfield {
   width: 400px;
}

.flash-notice { color: red } 

</style>
{% endblock %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:20vh;margin-top:50px">

   {# <center><p style="font-weight:bold;color:green">{% trans %} %trans_assign_title% {% endtrans %}</p></center> #}
   
    {{ form_start(assignmentinfo, {'attr':{'class':'border shadow p-3 rounded'}}) }}
    <center><p style="font-weight:bold;color:green">Assign Snack</p></center>
    {{ form_widget(assignmentinfo) }}
   <center><button class="btn btn-success">{{ button_label|default('Submit') }}</button></center>
    <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(assignmentinfo) }}
    
    <ul>
    {% for field, errorMessage in errors | default('')%}
        <li>{{ field }}: {{ errorMessage }}</li>
    {% endfor %}
    </ul>
    
</div>
     
    
{% endblock %}


