{% extends 'base.html.twig' %} 
{% form_theme assignmentinfo 'bootstrap_4_layout.html.twig' %}

{% block title %}Snack Assignment{% endblock %}

{% block body %}
    <h3>Snack Assignment</h3>
   
    {{ form_start(assignmentinfo) }}
    {{ form_widget(assignmentinfo) }}
    <button class="btn btn-success">{{ button_label|default('Submit') }}</button>
    <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(assignmentinfo) }}
    
    <ul>
    {% for field, errorMessage in errors | default('')%}
        <li>{{ field }}: {{ errorMessage }}</li>
    {% endfor %}
    </ul>
     
    
{% endblock %}


