{% extends 'base.html.twig' %} 
{% form_theme registerinfo 'bootstrap_4_layout.html.twig' %}

{% block title %}Registration{% endblock %}

{% block stylesheets %}
<style>
.myformfield {
   width: 400px;
   height:20px;
}
</style>
{% endblock %}

{% block body %}
 {#   <h3>User Register</h3>  #}

   <ul>
    {% for field, errorMessage in errors | default('')%}
        <li>{{ field }}: {{ errorMessage }}</li>
    {% endfor %}
    </ul>
    <div class="container d-flex justify-content-center align-items-center" style="min-height:20vh;margin-top:10px">

    {{ form_start(registerinfo,{'attr':{'class':'border shadow p-3 rounded'}}) }}
    <center><img src="{{ asset('images/registerlogo05.png') }}" style="height:60px;"/></center>
    {{ form_widget(registerinfo) }}
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
    <input type="hidden" name="token" value="{{ csrf_token('authenticate') }}">
    {{ form_end(registerinfo) }}
    </div>
    
     
    
{% endblock %}


